.fonctionnement {
    background-color: $bg-white;
    display: flex;
    flex-direction: column;
    .buttons {
        display: flex;
        flex-direction: column;
        margin: 0 0 50px 0;
        @include media (992px) {
            flex-direction: row;
        }
    }

    i {
        color: $color-icons;
        padding: 0 0.8em 0 0.5em;
        line-height: 70px ;
    }

    .btn-alt {
        &--order {
            display: block;
            text-align: center;
            background-color: $color-primary;
            color: #ffff;
            width: 20px;
            height: 20px;
            padding: 3px 1.5px 0 1.5px;
            border-radius: 20px;
            left:-10px;
            top: 25px;
            position: relative;
        }

        &--txt {
            position: relative;
            top: 0;
        }
        &:hover, &:active {
            i {
                color: $color-primary;
            }
            background-color: #f5edff;
            box-shadow: 0px 0px 10px 5px #eeeeee;
        }
    }
}