footer {
    background-color: $bg-black;
    color: #ffffff;
    padding: 10px 0 20px 30px;
    @include media (576px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        font-family: Shrikhand;
        font-size: 1.1em
    
    }
    a {
        color: #ffffff;
    }
    li {
        padding: 5px 0;
        font-size: 0.9em;
    }
    i {
        padding: 0 5px 0 0;
    }
}