.fa-heart {
    width: 35px;
    height: 35px;
    position: relative;
    &.fa-2x {
        font-size:25px;
        position: absolute;
        margin: 20px 0 0 35px;
        padding: 2px 0 0 0;
        opacity: 1;
        transition: opacity 0.2s ease-out;
    }
}

.fill {
    color: black;
    cursor: pointer;
    &:hover {
      animation: fill 0.3s ease-in-out;
      display: inline-block;
      opacity: 1;
      background:linear-gradient(to left, $color-secondary, 45%, $color-primary);
      background:-webkit-linear-gradient(to left, $color-secondary, 45%, $color-primary);
      -webkit-background-clip:text;
      -webkit-text-fill-color:transparent;
      font-weight: bold;
   }
 }
