$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-icons: #7e7e7e;
$color-shading:linear-gradient(175deg,$color-secondary, $color-primary);
$color-new: #008766;

$bg-white: #fff;
$bg-grey: #f6f6f6;
$bg-grey-dark: #eaeaea;
$bg-black: #353535;

$num-load: 13;
$anim-dur: 2500ms;
$anim-delay: 240ms;